include LICENSE README.rst *.sample  requirements.txt
include runtests.sh createdb.py nosetest
recursive-include pkgdb *
recursive-include alembic *
recursive-include tests *
include utility/*
include doc/*

