include LICENSE README.rst *.sample  requirements.txt
include pkgdb.spec pkgdb.wsgi pkgdb.conf alembic.ini.sample
include runtests.sh createdb.py
recursive-include pkgdb *
recursive-include alembic *
recursive-include tests *
include doc/*

