# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
flask>=0.10
flask-wtf
kitchen
python-fedora>=0.3.33
sqlalchemy>=0.8
python-openid-teams
python-openid-cla
docutils
python-dateutil
dogpile.cache
mock
python-bugzilla>=1.1.0
python-memcached
psutil
blinker # required by Flask for the unit-tests (for signaling)
