input {
    font-size: 100%;
}

textarea {
    font-size: 100%;
}

button {
    font-size: 100%;
}

select {
    font-size: 100%;
}

.errors, .required {
    color: red;
}

.acls tr td {
    vertical-align: text-top;
}

#header input {
    border-radius: 10px;
}

body#index #mainNav li#indexTab a,
body#packages #mainNav li#packagesTab a,
body#packagers #mainNav li#packagersTab a,
body#collections #mainNav li#collectionsTab a,
body#stats #mainNav li#statsTab a,
body#pendingAcl #mainNav li#pendingAclTab a,
body#myRequests #mainNav li#myRequestsTab a,
body#admin #mainNav li#adminTab a {
    background-color: #fff;
    color: #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#content {
    float:left;
    width:74%px;
}

body#packages #options {
    min-height: 150px;
}

#pkg_info{
    width: 930px;
    float: left;
}

#options {
    float:right;
    width:23%;
    margin-right: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) inset;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top:140px;
    right:0;
}

#delimiter {
    background-color:#193b6c;
    height: 10px;
}

#options_title {
    border-radius: 10px 10px 0px 0px;
    padding: 1px 0em 1px 1em;
    margin: 0px 0px 0px 0px;
    background: #34609f;
    color: #fff;
}

#options_content {
    margin: 5px;
}

#options_content th, #options_content td {
    margin: 5px;
    min-width: 0px;
    padding-left: 5px;
}

#options_content ul {
    list-style-type: none;
    margin-left: 0;
    padding: auto;
}

#options input[type="submit"] {
    width: 90%;
}

/** Web App Styles **/
/* Links to other web apps */
a.bodhi {
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/images/icons/fedora-infra-icon_bodhi.png) 0 50% no-repeat;
}

a.koji {
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/images/icons/fedora-infra-icon_koji.png) 0 50% no-repeat;
}

a.bugz {
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/images/icons/fedora-infra-icon_bugzilla.png) 0 50% no-repeat;
}

a.pkg_review {
  padding-left: 20px;
  background: url(fedora-infra-icon_review.png) 0 50% no-repeat;
}

a.koschei {
  padding-left: 20px;
  background: url(icon_koschei.png) 0 50% no-repeat;
}

a.pkgdb {
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/mages/icons/fedora-infra-icon_pkgdb.png) 0 50% no-repeat;
}

a.cvs {
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/images/icons/fedora-infra-icon_source-control.png) 0 50% no-repeat;
}

a.fas {
  padding-left: 20px;
  background: url(https://fedoraproject.org/w/uploads/a/ac/Infra-icon_fas.png) 0 50% no-repeat;
}

a.pending {
  padding-left: 20px;
  background: url(Awaiting%20Review.png) 0 50% no-repeat;
}

a.community {
  padding-left: 20px;
  background: url(https://apps.fedoraproject.org/tagger/images/favicons/16_beefy.png) 0 50% no-repeat;
}

a.wheel, a.wheel:hover, button.wheel, button.wheel:hover {
  padding-left: 20px !important;
  background-image: url(wheel.png) !important;
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

label.active, label.active:hover {
  background-image: url(arrow.png) !important;
  background-repeat: no-repeat!important;
  background-position: 3px 50%!important;
}

label.mouse_inactive, label.mouse_inactive:hover {
    cursor: default;
}

#actions {
  line-height: 1;
  list-style: none;
  margin: 1ex 0!important;
  padding: 1ex 0ex 0ex 0ex;
}

#actions li {
    display: inline;
    margin-right: 1ex;
}

#metainfo th{
    text-align: left;
    /*background: none repeat scroll 0 0 #DDDDDD;*/
}

#metainfo th{
    /*border: 1px solid #000000;*/
    padding: 0.6ex;
}

.acls, .owner {
    padding: 0px;
    margin: 0px;
}

#legend {
    margin-top: 4em;
    font-size: 85%;
}

#legend td {
    padding-left: 0.5em;
}

#legend td img {
    padding-right: 0.5em;
}

#legend th {
    min-width: 0px;
    padding-left: 0.5em;
}

#pending th {
    text-align: left;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.field th {
    text-align: left;
}

#description {
    width: 75%;
    min-height: 10px;
    white-space: pre;
}

.accordion {
    width: 900px;
}

.demo-container {
    box-sizing: border-box;
    width: 835px;
    height: 325px;
    padding: 10px 10px 15px 10px;
    margin: 15px auto 30px auto;
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.inline h1, .inline span, .inline form {
    display: inline-block;
}

#options input[type="submit"][disabled] {
    color: #8795a8;
    cursor: default;
}

button:hover {
    cursor: pointer;
}

.h_line {
    width:100%;
    height: 1px;
    background: #DCDEDF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small_h_line {
    width:50%;
    margin: auto;
    height: 1px;
    background: #DCDEDF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.username {
    font-size: 110%;
    font-weight: bold;
}

#pkg_ppl_table .branches {
    font-size: 85%;
    color: grey;
    font-style: italic;
}

section#pkg_ppl_table {
    display: table;
    width: 800px;
}

.pkg_ppl_row {
    display: table-row;
}

.pkg_ppl_row h4 {
    margin-top: 10px;
}

div#pkg_contacts {
    display: table-cell;
    width: 44%;
    padding-right: 10px;
}

div#pkg_admins {
    display: table-cell;
    width: 48%;
    padding-left: 10px;
}

#pkg_committers table th{
    text-align: center;
}

#pkg_watchers table th{
    min-width: 50px;
    text-align: center;
}

#pkg_committers table {
    width: 100%
}

.inline{
    display:inline;
}

.pkg_button_blue, .pkg_button_blue:visited, .pkg_button_blue:hover {
    display:inline;
    float: right;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em 1.3em 0.2em 1.3em;
    margin: 0px 0px 5px 0px;
    background: #3b6eb4;
    border: 1px solid #58595b;
    color: #fff;
}

.pkg_button_grey, .pkg_button_grey:visited, .pkg_button_grey:hover {
    display:inline;
    float: right;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em 1.3em 0.2em 1.3em;
    margin: 0px 0px 5px 0px;
    background: #60605b;
    border: 1px solid #58595b;
    color: #fff;
}

.pkg_button_lightgrey, .pkg_button_lightgrey:visited, .pkg_button_lightgrey:hover {
    display:inline;
    float: right;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em 1.3em 0.2em 1.3em;
    margin: 0px 0px 5px 0px;
    background: #e7e8e9;
    border: 1px solid #58595b;
    color: #666662;
}

div#pkg_contacts .pkg_button_blue, div#pkg_contacts .pkg_button_grey,
div#pkg_contacts .pkg_button_lightgrey,
ul.nobullet .pkg_button_blue, ul.nobullet .pkg_button_grey,
ul.nobullet .pkg_button_lightgrey {
    margin-left: 5px;
}

#pkg_info button.pkg_button_blue, #pkg_info button.pkg_button_blue:hover,
#pkg_info button.pkg_button_grey, #pkg_info button.pkg_button_grey:hover,
#pkg_info button.pkg_button_lightgrey, #pkg_info button.pkg_button_lightgrey:hover{
    padding: 0.1em 0.5em 0em 0.5em;
    vertical-align: center;
}

#edit_acl .pkg_button_grey,
#edit_acl .pkg_button_lightgrey {
    height: 18px;
    padding: 0.5em 1.3em 0em 1.3em;
}

#pkg_actions {
    float: right;
}

#pkg_actions td,
#pkg_actions td button {
    width: 145px;
    padding-left: 0px;
}


#pkg_watchers table{
    width: 100%;
}

#pkg_watchers .headings {
    background-color: #A7A9AC;
    color: #fff;
}

#pkg_watchers th, #pkg_watchers td{
    min-width: 10px;
}

#pkg_committers td, #pkg_watchers td, #actiontable td {
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    margin: 0;
    color: #333333;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 13px;
}

#actiontable th{
    text-align: center;
}

#edit_acl #pkg_committers td{
    border-left: 0px;
}

#pkg_watchers td img{
    padding: 0px;
    margin: 0px;
}

#pkg_committers .users {
    text-align: left;
    padding-left: 15px;
}

#pkg_committers .dashed {
    border-top: 1px solid #BBBBBB;
    border-left: 1px dashed #BBBBBB !important;
}

#pkg_watchers .dashed {
    border-top: 1px solid #BBBBBB;
    border-left: 1px dashed #BBBBBB;
}

.lastcel {
    border-right: 1px solid #BBBBBB;
}

.lastrow td {
    border-bottom: 1px solid #BBBBBB;
}

#pkg_watchers .row_even {
    background-color: #F0F7FB;
}

#pkg_watchers .col_odd {
    background-color: #F6F7F9;
}

#pkg_watchers .row_even .col_odd {
    background-color: #E7EFF5;
}

.nobullet {
    list-style: none;
}

select#acls option[value="Awaiting Review"],
select.Awaiting_Review {
    padding-left: 20px;
    background: url(https://admin.stg.fedoraproject.org/pkgdb/static/Awaiting%20Review.png) 0 50% no-repeat;
}

select#acls option[value="Approved"],
select.Approved {
    padding-left: 20px;
    background: url(https://admin.stg.fedoraproject.org/pkgdb/static/Approved.png) 0 50% no-repeat;
}

select#acls option[value="Obsolete"],
select.Obsolete {
    padding-left: 20px;
    background: url(https://admin.stg.fedoraproject.org/pkgdb/static/Obsolete.png) 0 50% no-repeat;
}

select#acls option[value="Removed"],
select.Removed {
    padding-left: 20px;
    background: url(https://admin.stg.fedoraproject.org/pkgdb/static/Removed.png) 0 50% no-repeat;
}

select#acls option[value="Denied"],
select.Denied {
    padding-left: 20px;
    background: url(https://admin.stg.fedoraproject.org/pkgdb/static/Denied.png) 0 50% no-repeat;
}

#edit_acl table td {
    background-color: #f7f8f8;
    text-align:center;
}

table .col_odd,
#edit_acl table .col_odd {
    background-color: #eaebeb;
}

#edit_acl select {
    background-color: #fff;
    border: 1px solid #BBBBBB;
    margin-left: 5px;
    margin-right: 5px;
}

#recent_package th {
    text-align: left;
    padding-left: 7px;
}

#metainfo {
    width: 100%;
}

#metainfo button {
    width: 170px;
    float: none;
}

.ui-accordion {
    position: relative;
}

.ui-accordion-content{
    height: auto;
}

.ui-accordion .accordion-link {
    position: absolute;
    right: 2%;
    margin-top: 12px; /* adjust as needed to vertically center the icon */
    z-index: 1;
    width: 12px; /* approx 12x12 link icon */
    height: 12px;
    background: url(link.png) center center no-repeat;
}

th.tablesorter-header {
    background-image: url(small.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    margin-left: -1px;
}

th.tablesorter-headerSortUp {
    background-image: url(small_asc.gif);
    background-color: #C0C0C0;
}

th.tablesorter-headerSortDown {
    background-image: url(small_desc.gif);
    background-color: #C0C0C0;
}

.avatar {
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

#manage_watch .pkg_button_blue,
#pendingAcl .pkg_button_blue {
    margin-right: 10px;
}

.user_list li {
    list-style-type: none;
    display: inline-block;
    width: 25em;
    margin: 0 .5em;
}

.user_list a {
    display: inline-block;
    width: 100%;
    padding: .5em;
}

table.list thead th,
.user_list a:hover,
.fgradient{
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
}

.info_retire {
    text-decoration: underline
}

#requestpackage {
    float:none;
    font-size: 100%;
}

#pkg_req_pending {
    background-color:  rgba(255, 0, 0, 0.05);
    border: rgba(255, 0, 0, 0.5) 3px solid;
    border-radius: 10px 10px 10px 10px;
    width: 23em;
    margin: 0 auto;
    padding: 0 7px 0 7px;
}

#new_pkg input[type="text"] {
    width: 250px;
}

#new_pkg textarea {
    width: 250px;
    rows: 5;
}

#monitoring_block label {
    font-weight: normal;
    width: 170px;
    border-radius: 5px;
    background: #3b6eb4 none repeat scroll 0 0;
    border: 1px solid #58595b;
    color: #fff;
    margin-bottom: 0.2em;
}

#monitoring_block label .ui-button-text{
    text-align: center;
    padding: 0em 1em;
}
