{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}collections{% endblock %}

{% if is_admin %}
{% set options = True %}
{%block options %}
<ul>
    <li>
        <a href="{{ url_for('.collection_new') }}">
            <input type="submit" value="New collection"/>
        </a>
    </li>
</ul>
{% endblock %}
{% endif %}

{% block content %}

<h1>Search collections</h1>

{% if total_page %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('.list_collections', motif=motif,
                                page=page - 1) }}">
                < Previous
            </a>
        {% else %}
            < Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('.list_collections', motif=motif,
                                page=page + 1) }}">
                Next >
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<table>
    <tr>
        <th>
            Branch name
        </th>
        <th>
            Name
        </th>
        <th>
            Release
        </th>
        <th>
            Status
        </th>
    </tr>
{% for collection in collections %}
    <tr>
        <td>
            <a href="{{url_for('.collection_info',
                               collection=collection.branchname)}}">
                {{ collection. branchname }} </a>
        </td>
        <td>
            {{ collection.name }}
        </td>
        <td>
            {{ collection.version }}
        </td>
        <td>
            {{ collection.status }}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
