{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block header %}
{% if refresh %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}

{%block tag %}admin{% endblock %}


{% set options = True %}
{%block options %}
<form action="{{ url_for('.admin_log') }}" method="get">
    Restrict to package: <input type="text" name="package" />
    From date: <input id="from_date" type="text" name="from_date" />
    Auto-refresh: <input id="refresh" type="checkbox" name="refresh" />
    <input type="submit" class="submit positive button" value="filter">
</form>
{% endblock %}

{% block content %}

<h1>Logs</h1>

{% if refresh %}
This page should refresh automatically every 5 seconds
{% endif %}

{% if total_page %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('.admin_log') }}?page={{page - 1}}&package={{package}}&from_date={{from_date}}">
                < Previous
            </a>
        {% else %}
            < Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('.admin_log') }}?page={{page + 1}}&package={{package}}&from_date={{from_date}}">
                Next >
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<table>
{% for log in logs %}
    <tr>
        <td>
            {{ log.change_time.strftime('%Y-%m-%d %H:%M:%S') }}
        </td>
        <td>
        {{ log.description }}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery-ui-timespinner.js') }}">
</script>
<script type="text/javascript">
    $(function(){
        $('#from_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
