{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}packages{% endblock %}


{% if is_admin %}
{% set options = True %}
{%block options %}
<ul>
    <li>
        <a href="{{ url_for('.package_new') }}">
            <input type="submit" value="New package"/>
        </a>
    </li>
</ul>
{% endblock %}
{% endif %}

{% block content %}

<h1>Search packages</h1>

{% if total_page %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('.list_packages', motif=motif) }}?page={{page - 1}}">
                < Previous
            </a>
        {% else %}
            < Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('.list_packages', motif=motif) }}?page={{page + 1}}">
                Next >
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<ul>
{% for pkg in packages %}
    <li>
    <a href="{{url_for('.package_info', package=pkg.name)}}">
            {{ pkg.name }}</a>
    -- {{ pkg.summary }}
    (
    {% for listing in pkg.listings %}
        {{ listing.collection.branchname }}
    {% endfor %}
    )
    </li>
{% endfor %}
</ul>

{% endblock %}
