{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}packagers{% endblock %}

{% block content %}

<h1>{{ packager }}</h1>

<ul>
{% for package in packages %}
    <li>
        <a href="{{url_for('.package_info', package=package.name)}}">
            {{ package.name }}</a>
        -- {{ package.summary }}
        (
        {% for listing in package.listings %}
            {% if listing.point_of_contact == packager %}
            {{ listing.collection.branchname }}
            {% endif %}
        {% endfor %}
        )
    </li>
{% endfor %}
</ul>

{% endblock %}
