{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}stats{% endblock %}

{% block content %}

<h1>Fedora Package Database</h1>

<p>
    PkgDB stores currently information about {{ packages | length }}
    Fedora releases.
</p>


<table>
    <tr>
        <th>Fedora branch / release</th>
        <th>Number of packages</th>
    </tr>
    {% for collec in packages | sort %}
    <tr>
        <td>{{ collec }}</td>
        <td>{{ packages[collec] }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Top maintainers</h2>

<table>
    {% for row in top_maintainers %}
    <tr>
        <td>
            {{ row[0] }}
        </td>
        <td>
            {{ row[1] }}
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Top point of contact</h2>

<table>
    {% for row in top_poc %}
    <tr>
        <td>
            {{ row[0] }}
        </td>
        <td>
            {{ row[1] }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
