{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_cell %}

{% block title %} {{ package }} ACL | PkgDB {% endblock %}

{%block tag %}packages{% endblock %}

{% block content %}

<h1>Update ACLs on package: {{ package }}</h1>

{% if pending_acls %}
<p>
    User {{ user }} has for the following ACLs:
</p>
<table>
    {% for acls in pending_acls %}
    <tr>
        <td>{{ acls['collection'] }}</td>
        <td>{{ acls['acl'] }}</td>
        <td>
            <img src="{{ url_for('static', filename='%s.png' % acls['status']) }}"
                title="{{ acls['status'] }}" alt="{{ acls['status'] }}"/ >
        </td>
    </tr>
    {% endfor %}
</table>

<form action="{{ url_for('.update_acl', package=package,
                         user=user, branch=branch) }}" method="post">
  <table>
    {{ render_field_in_cell(form.pkg_branch) }}
    {{ render_field_in_cell(form.pkg_acl) }}
    {{ render_field_in_cell(form.acl_status) }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Update">
    <input type="button" value="Cancel" class="button" onclick="history.back();">
    {{ form.csrf_token }}
  </p>
  <p class="small">Use your mouse or the control key to select multiple ACLs at once</p>

</form>
{% else %}
<p>
    No pending ACLs for this user on this package.
</p>
{% endif %}
{% endblock %}
