{% extends "master.html" %}

{% block title %} {{ package.name }} | PkgDB {% endblock %}

{%block tag %}packages{% endblock %}

{% block content %}

<section id="edit_acl">
  <h1>
    <a property="doap:name" href="{{ url_for('.package_info', package=package.name) }}">
      {{ package.name }}
    </a> > Edit {{ acl.capitalize() }} Access</h1>

  <section id="pkg_committers">
    <div>
      <h3 class="inline">User(s)</h3>
    </div>

    <form action="{{ url_for('.update_acl', package=package.name, update_acl=acl) }}" method="POST">
      <table>
        <tr>
          <th></th>
          {% for branch in branches | sort_branches %}
          <th>
            <input type="hidden" value="{{ branches[branch] }}" name="branch" />
            {{ branch }}</th>
          {% endfor %}
        </tr>
        {% for user in commit_acls | sort %}
          {% if loop.last %}
            <tr class="lastrow">
          {% else %}
            <tr>
          {% endif %}
            <td class="users">
              <input type="hidden" value="{{ user }}" name="user" />
              <a href="{{ url_for('.packager_info', packager=user) }}" class="username">
                {{ user }}
              </a>
            </td>
            {% for branch in branches | sort_branches %}
                {% set coltype = loop.cycle('col_odd', 'col_even') %}
                {% if acl in commit_acls[user][branch] %}
                  {% set select_cl = commit_acls[user][branch][acl].replace(' ', '_') %}
                {% else %}
                  {% set select_cl = '' %}
                {% endif %}
              {% if not loop.last %}
                <td class="{{ coltype }}">
              {% else %}
                <td class="{{ coltype }}">
              {% endif %}
                <select name="acls" id="acls" class="{{ select_cl }}{% if loop.first %} first_col{% endif %}" >
                  {% for status in acl_status %}
                    {% if acl in commit_acls[user][branch] and
                        status == commit_acls[user][branch][acl] %}
                      <option style selected="" value="{{ status }}">{{ status }}</option>
                    {% else %}
                      <option value="{{ status }}">{{ status }}</option>
                    {% endif %}
                  {% endfor %}
                </select>

              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>

      <ul class="nobullet">
        <li class="inline">
          <button type="submit"
            class="bold pkg_button_blue"
            title="Update ACLs">
              Apply Changes
          </button>
        </li>
        <li class="inline">
          <a class="bold pkg_button_lightgrey"
            href="{{ url_for('.package_info', package=package.name) }}">
            Cancel
          </a>
        </li>
        <li class="inline">
          <a class="bold pkg_button_grey"
            href="{{ url_for('.package_give_acls', package=package.name) }}"
            title="Give ACLs to someone">
            Add someone
          </a>
        </li>
      </ul>
      {{ form.csrf_token }}
    </form>
  </section>

</section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
$(function(){
    $('select').on('change', function(ev) {
        var _val = $(this).children(':selected').val();
        _val = _val.replace(' ', '_');
        $(this).attr('class', '').addClass(_val);
    });
    $('.first_col').on('change', function(ev) {
        var _val = $(this).children(':selected').val();
        var row = $(this).parent().parent();
        row.children().each(function() {
            var _item = $(this).children();
            if (_item.val() == 'Awaiting Review') {
                _item.children('option:contains(' + _val + ')').prop(
                    {selected: true});
                var _val_lbl = _val.replace(' ', '_');
                _item.attr('class', '').addClass(_val_lbl);
            }
        });
    });
});
</script>
{% endblock %}
