{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %} Update action | PkgDB {% endblock %}

{%block tag %}{% if tag %}{{ tag }}{% else %}admin{% endif %}{% endblock %}

{% block content %}

{% if package %}
<h1>Update request: {{ admin_action.id }}</h1>
{% else %}
<h1>Update admin action: {{ admin_action.id }}</h1>
{% endif %}

{% if package %}
<p>
    As current admin of the package {{ package.name }} you have the possibility
    for 7 days to block a branch request for EPEL branches.
</p>
{% endif %}
{% if tag %}
{% if admin_action.action != 'request.package' %}
<p>
    During the 7 days following the request, you can 'Block' the new branch
    process by setting the request to <span class="italic bold">Blocked</span>
    or 'Approve' it by setting it to <span class="italic bold">Awaiting Review</span>
    to inform admins that they can now review this request.
</p>
{% endif %}
<form action="{{ url_for('.package_request_edit',
                package=package.name or None, action_id=action_id) }}"
    method="post">
{% else %}
<form action="{{ url_for('.admin_action_edit_status', action_id=action_id) }}"
    method="post">
{% endif %}

  <table>
    <tr><td>User:</td><td>{{ admin_action.user }}</td></tr>
    <tr>
      <td>Package:</td>
      <td>
        {% if admin_action.package %}
          <a href="{{url_for('.package_info', package=admin_action.package.name)}}">
            {{ admin_action.package.name }}
          </a>
        {% else %}
          {{ admin_action.info_data['pkg_name'] }}
        {% endif %}
      </td>
    </tr>
    <tr><td>Action:</td><td>{{ admin_action.action }}</td></tr>
    <tr><td>To branch:</td><td>{{ admin_action.collection.branchname }}</td></tr>
    {{ render_field_in_row(form.status) }}
    {{ render_field_in_row(
        form.message,
        placeholder='Required if the action is blocked or denied') }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Update">
    <input type="button" value="Cancel" class="button" onclick="history.back();">
    {{ form.csrf_token }}
  </p>
</form>
{% endblock %}
