{% extends "master.html" %}

{% block title %} API | PkgDB {% endblock %}

{%block tag %}index{% endblock %}

{% block content %}

<h2>
    Collections
    <a name="collections" class="headerlink" title="Permalink to this headline" href="#collections">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>
<div class="accordion">
{% for html in collections %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    Packagers
    <a name="packagers" class="headerlink" title="Permalink to this headline" href="#packagers">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>
<div class="accordion">
{% for html in packagers %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    Packages
    <a name="packages" class="headerlink" title="Permalink to this headline" href="#packages">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>

<div class="accordion">
{% for html in packages %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    ACLs
    <a name="acls" class="headerlink" title="Permalink to this headline" href="#acls">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>
<div class="accordion">
{% for html in acls %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    Other
    <a name="other" class="headerlink" title="Permalink to this headline" href="#other">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>
<div class="accordion">
{% for html in other %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    Admin
    <a name="admin" class="headerlink" title="Permalink to this headline" href="#admin">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>
<div class="accordion">
{% for html in admin %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

<h2>
    Extras
    <a name="extras" class="headerlink" title="Permalink to this headline" href="#extras">
    <img src="{{ url_for('static', filename='link.png') }}" />
    </a>
</h2>

<p>
  The pkgdb2 api has few other endpoints that are used for very specific
  tasks such as synchronizing the point of contact and CC list with
  bugzilla, or synchronizing the ACLs with the version control system (vcs).
  These endpoints, althought listed here, are not quite meant for public
  consumption, you may use them, just be cautious.
</p>

<div class="accordion">
{% for html in extras %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}
</div>

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">

    $(function(){
        $('.accordion').accordion({
            active: false,
            collapsible: true,
            heightStyle: "content",
            create: function (event, ui) {
                $(this).children('h3').each(function (i) {
                    // set id here because jQuery UI sets them as "ui-accordion-#-header-#"
                    this.id = this.textContent.toLowerCase().replace(/\s+/g, '_');
                    // add the anchor
                    $(this).before('<a class="accordion-link link" data-index="' + i +
                     '" href="#' + this.id + '"></a>');
                });
                $(this).find('.accordion-link').click(function () {
                    // the active option requires a numeric value (not a string, e.g. "1")
                    this.accordion( "option", "active", $(this).data('index') );
                    // uncomment out the return false below to prevent the header jump
                    return false;
                });
            }
        });

        if (window.location.hash) {
            $('.accordion').each(function(){
                var hashId = null;
                $(this).children('h3').each(function (i) {
                    var txt = this.textContent.toLowerCase().replace(/\s+/g, '_');
                    if ( txt === window.location.hash.slice(1) ) {
                        hashId = i;
                    }
                });
                $(this).accordion( "option", "active", hashId );
            });
        }
    });
</script>
{% endblock %}
