{% extends "master.html" %}

{% block title %} API | PkgDB {% endblock %}

{%block tag %}index{% endblock %}

{% block content %}

<h2>Collections</h2>
{% for html in collections %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}

<h2>Packagers</h2>
{% for html in packagers %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}

<h2>Packages</h2>
{% for html in packages %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}

<h2>ACLs</h2>
{% for html in acls %}
{% autoescape false %}
{{ html | InsertDiv}}
{% endautoescape %}
{% endfor %}

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('.accordion').accordion({
            collapsible: true,
            active: false
        });
    });
</script>
{% endblock %}
