{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block header %}
{% if refresh %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}


{%block tag %}{%
    if select %}{%
        if g.fas_user and g.fas_user.username == packager %}myRequests{%
        else %}{{ select }}{%
        endif %}{%
    else %}admin{%
    endif
%}{% endblock %}


{% set options = True %}
{%block options %}
{% if select %}
<form action="{{ url_for('.packager_requests', packager=packager) }}" method="get">
{% else %}
<form action="{{ url_for('.admin_actions') }}" method="get">
{% endif %}
    Restrict to package: <input type="text" name="package" /> <br />
    {% if not select %}
    Restrict to packager: <input type="text" name="packager" /> <br />
    {% endif %}
    Restrict to action: <input id="action" type="text" name="action" /> <br />
    Restrict to Status:
    <select id="status" name="status">
        {% for act_status in statuses %}
        <option {%if act_status == status %}selected{% endif %} value="{{
            act_status}}">
            {{ act_status }}
        </option>
        {% endfor %}
    </select>
    <br />
    <input type="submit" class="submit positive button" value="filter">
</form>
{% endblock %}

{% block content %}

{% if select %}
<h1>{{ packager }}'s requests</h1>
{% else %}
<h1>Actions</h1>
{% endif %}

{% if total_page and total_page > 1 %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('.admin_actions', page=page-1,
                package=package, from_date=from_date) }}">
                < Previous
            </a>
        {% else %}
            < Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('.admin_actions', page=page+1,
                package=package, from_date=from_date) }}">
                Next >
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

{% if actions %}
<table id="actiontable">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Package</th>
    <th>Action</th>
    <th>Branch</th>
    <th>Status</th>
    <th></th>
  </tr>
{% for action in actions %}
 {% if loop.last %}
 <tr class="lastrow">
 {% else %}
  <tr>
 {% endif %}
    <td>
        {{ action.date_created.strftime('%Y-%m-%d %H:%M:%S') }}
    </td>
    <td class="col_odd">
      <a href="{{url_for('.packager_info', packager=action.user)}}">
        {{ action.user }}
      </a>
    </td>
    <td>
    {% if action.package %}
      <a href="{{url_for('.package_info', package=action.package.name)}}">
        {{ action.package.name }}
      </a>
    {% else %}
      {{ action.info_data['pkg_name'] }}
    {% endif %}
    </td>
    <td class="col_odd">{{ action.action }}</td>
    <td>{{ action.collection.branchname }}</td>
    <td class="col_odd" >
      {{ action.status }} {%- if action.message %}:
      {{ action.message }}{% endif %}
    </td>
    <td class="lastcel">
    {% if not select %}
      <a href="{{ url_for('.admin_action_edit_status', action_id=action.id) }}">
        Update
      </a>
    {% elif select and g.fas_user and g.fas_user.username == action.user and
      action.status in ['Pending', 'Awaiting Review'] %}
      <a href="{{ url_for(
        '.package_request_edit', action_id=action.id) }}">
          Update
      </a>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>No actions found</p>
{% endif %}

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery-ui-timespinner.js') }}">
</script>
<script type="text/javascript">
    $(function(){
        $('#from_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
