<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}Fedora Package Database{% endblock %}</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="//fedoraproject.org/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='koji.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='pkgdb.css') }}"/>
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
            filename='jquery-ui-1.10.3.custom.min.css')}}" />
    {% block header %}{% endblock %}
  </head>
  <body id="{% block tag %}{% endblock %}">

    <div id="wrap">
      <div id="innerwrap">

        <!-- HEADER -->
        <div id="header">
          <img src="{{ url_for('static', filename='packagedb-logo.png') }}" alt="PackageDB Logo" id="kojiLogo"/>
          <form action="{{url_for('ui_ns.search')}}" id="headerSearch">
            <select name="type">
              <option value="package">Packages</option>
              <option value="packager">Packagers</option>
              <option value="orphaned">Orphaned</option>
              <option value="retired">Retired</option>
            </select>
            <input type="text" name="term"/>
            <input type="submit" value="Search"/>
          </form>
        </div><!-- end header -->

        <!-- MAIN NAVIGATION -->
        <div id="mainNav">
          <h4 class="hide">Main Site Links:</h4>
          <ul>
            <li id="indexTab"><a href="{{url_for('ui_ns.index')}}">Home</a></li>
            <li id="packagesTab"><a href="{{url_for('ui_ns.list_packages')}}">Packages</a></li>
            <li id="packagersTab"><a href="{{url_for('ui_ns.list_packagers')}}">Packagers</a></li>
            <li id="collectionsTab"><a href="{{url_for('ui_ns.list_collections')}}">Collections</a></li>
            <li id="statsTab"><a href="{{url_for('ui_ns.stats')}}">Stats</a></li>
            {% if g.fas_user %}
            <li id="pendingAclTab"><a href="{{url_for('ui_ns.pending_acl')}}">Pending ACLs</a></li>
            {% endif %}
            {% if is_admin %}
            <li id="adminTab"><a href="{{url_for('ui_ns.admin')}}">Admin</a></li>
            {% endif %}
          </ul>
        </div><!-- end mainNav -->

        <span id="loginInfo">
          {% if g.fas_user %}
            <span class="text">logged in as </span>
            <a href="{{url_for('ui_ns.packager_info', packager=g.fas_user.username)}}">{{ g.fas_user.username }}</a> |
            <a href="{{ url_for('ui_ns.logout') }}?next={{request.url}}">log out</a>
          {% else %}
        <a href="{{ url_for('ui_ns.login') }}?next={{request.url}}">login</a>
          {% endif %}
        </span>

        <div id="content">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                <ul id="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}

        </div>

        {% if options is defined %}
        <div id="options">
            <div id="options_title">
                <h3>Options</h3>
            </div>
            <div id="delimiter"></div>
            <div id="options_content">
                {% block options %}{% endblock %}
            </div>
        </div>
        {% endif %}

        <p id="footer">
          Copyright &copy; 2013 Red Hat
          <a href="https://fedorahosted.org/pkgdb2/">pkgdb2</a>
          -- {{version}}
          -- <a href="http://pkgdb2.rtfd.org"
                target="_blank">Documentation</a>
          -- <a href="{{ url_for('api_ns.api') }}">API</a>
        </p>

      </div>
    </div>

    {% block jscripts %}
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-1.9.1.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-ui-1.10.3.custom.min.js') }}">
    </script>
    {% endblock %}

  </body>
</html>
