<?xml version="1.0" encoding="UTF-8" ?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"
                        xmlns:moz="http://www.mozilla.org/2006/browser/search/"
                        xmlns:py="http://genshi.edgewall.org/">
    <ShortName>pkgdb {{ shortname }}</ShortName>
    <Description>Search {{ config['PROJECT_NAME'] }} Package Database</Description>
    <InputEncoding>UTF-8</InputEncoding>
    <Image height="16" width="16" type="image/png">
        https://fedoraproject.org/static/images/icons/fedora-infra-icon_pkgdb.png</Image>
    <Contact>pingou@pingoured.fr</Contact>
    <Url type="text/html"
        template="{{ config.get('SITE_ROOT') }}{{ url_for('.search') }}">
        <Param name="term" value="*{searchTerms}*"/>
        <Param name="type" value="{{ shortname }}"/>
    </Url>
    <Url type="applications/x-suggestions+json"
        template="{{ config.get('SITE_ROOT') }}{{ url_for('.list_packages', motif=example) }}"/>
    <Url type="application/opensearchdescription+xml"
        rel="self"
        template="{{ config.get('SITE_ROOT') }}{{ url_for('.opensearch', xmlfile='pkgdb_%s.xml' % shortname) }}" />
    <SearchForm>{{ config.get('SITE_ROOT') }}{{ url_for('.index') }}</SearchForm>
    <LongName>pkgdb Web OpenSearch</LongName>
    <Query role="example" searchTerms="{{ example }}" />
    <Developer>Adam Miller</Developer>
    <Developer>Pierre-Yves Chibon</Developer>
    <Tags>pkgdb</Tags>
</OpenSearchDescription>
