{% extends "master.html" %}

{% block title %} {{ package.name }} | PkgDB {% endblock %}

{%block tag %}packages{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" media="screen"
    href="{{ url_for('static', filename='toggle.css') }}"/>
{% endblock %}

{% set options = True %}
{% block options_title %}Package Status{% endblock %}
{%block options %}
<table id="metainfo">
{#
This is commented out for now after the initial deployment to prod.

In the future we may use that for things like "Under review", "Reviewed", etc.
But for now  it'll be approved for any package that's in the pkgdb (and it's
confusing what the difference is between that status an the per-branch status)
    <tr>
        <th>Status</th>
        <td>{{ package.status }}</td>
    </tr>
#}
    <tr>
        <th><a target="_blank" href="https://fedoraproject.org/wiki/Upstream_release_monitoring">Monitoring</a></th>
        <td>
            <div class="switch">
                <input type="radio" class="switch-input" name="monitor" value="on" id="monitoron"{%if package.monitor %} checked="checked"{% endif %}>
                <label for="monitoron" class="switch-label switch-label-off">On</label>
                <input type="radio" class="switch-input" name="monitor" value="off" id="monitoroff"{%if not package.monitor %} checked="checked"{% endif %}>
                <label for="monitoroff" class="switch-label switch-label-on">Off</label>
                <span class="switch-selection"></span>
            </div>
        </td>
    </tr>
    <tr>
        <th>Created on</th>
        <td property="doap:created">{{ package.date_created.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% for listing in package.sorted_listings %}
    {% if listing.collection.status != 'EOL' %}
    <tr>
        <th>{{ listing.collection.name }} {{ listing.collection.version }}</th>
        <td>{{ listing.status }} {% if listing.critpath %} -- critpath {% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if is_admin %}
    <tr>
      <td colspan="2" align="center">
        <form action="{{ url_for('.delete_package', package=package.name) }}"
          method="POST">
          <button class="bold pkg_button_grey inline" type="submit"
            onclick="return confirm('Are you sure you want to delete this package?');">
            Delete package
          </button>
          {{ form.csrf_token }}
        </form>
      </td>
    </tr>
    {% endif %}
</table>
{% endblock %}

{% block content %}

<section id="pkg_info">
  <h1 class="inline" property="doap:name">{{ package.name }}</h1>{% if package.upstream_url
      %} (<a class="inline" href="{{ package.upstream_url }}">upstream</a>){% endif %}

  <p property="doap:shortdesc">{{ package.summary }}</p>

  <p id="description" property="doap:description">
  {% if package.description %}
    {{ package.description }}
  {% endif %}
  </p>

  <ul id="actions">
      <li>
          <a href="http://koji.fedoraproject.org/koji/search?type=package&match=glob&terms={{ package.name }}"
          class="koji">
          Builds status</a>
      </li>
      <li>
          <a href="https://admin.fedoraproject.org/updates/{{ package.name }}"
          class="bodhi">
          Updates status</a>
      </li>
      <li>
          <a href="http://pkgs.fedoraproject.org/cgit/{{ package.name }}.git/"
          class="cvs">
          Package source</a>
      </li>
      <li>
          <a href="https://apps.fedoraproject.org/packages/{{ package.name }}/bugs"
          class="bugz">
          Bug reports</a>
      </li>
      <li>
          <a href="https://apps.fedoraproject.org/packages/{{ package.name }}"
          class="community">
          Packages</a>
      </li>
      <li>
      {% if package.review_url %}
          <a href="{{ package.review_url }}" class="bugz">
          Package review</a>
      {% else %}
          Package review unknown
      {% endif %}
      </li>

  </ul>

  <div class="h_line" style="width:81%"></div>

  <section id="pkg_ppl_table">
    <div class="pkg_ppl_row">
      <div id="pkg_contacts">
        <h4>Main Contact(s)</h4>
        <p>
          For general concerns about this package, these are the people to
          contact.
        </p>
        <ul>
          {% for user in pocs %}
          <li>
            {{ user | avatar(32) | safe }}
            <span class="username">
              <a href="{{ url_for('.packager_info', packager=user) }}">
                {{ user }}
              </a>
            </span>
            <span class="branches">({{ pocs[user] | sort_branches | join(', ') }})</span>
          </li>
          {% endfor %}
        </ul>

        <table id="pkg_actions">
          <tr>
          {% if g.fas_user.username in pocs or is_admin %}
            <td>
              <a title="Give the package to someone..."
                id="givebutton"
                href="{{ url_for('.package_give', package=package.name) }}">
                <button  class="bold pkg_button_blue">
                + Give Package
                </button>
              </a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          {% if (g.fas_user.username in pocs or is_admin) and 'Approved' in statuses %}
            <td>
              <a title="Orphan the package..."
                id="orphanbutton"
                href="{{ url_for('.package_orphan', package=package.name) }}">
                <button  class="bold pkg_button_grey">
                - Orphan Package
                </button>
              </a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          </tr>
          <tr>
          {% if g.fas_user and (
                (is_admin and 'Retired' in statuses) or 'Orphaned' in statuses
            ) %}
            <td>
              <a title="This package is orphaned, take it!..."
                 id="takebutton"
                 href="{{ url_for('.package_take', package=package.name) }}">
                <button class="bold pkg_button_blue">
                  + Take Package
                </button>
              </a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          {% if is_admin and 'Orphaned' in statuses %}
            <td>
              <a title="This package is orphaned, retire it..."
                 id="retirebutton"
                 href="{{ url_for('.package_retire', package=package.name) }}">
                <button class="bold pkg_button_grey">
                  - Retire Package
                </button>
              </a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          </tr>
        </table>
      </div>

      <div id="pkg_admins">
        <h4 title="`approveacls` ACL">Package Administrator(s)</h4>
          <p>
            These users can help you if you need commit privileges for this
            package.
          </p>
          <ul>
            {% for user in admins %}
            <li>
              {{ user | avatar(32) | safe }}
              <span class="username">
                <a href="{{ url_for('.packager_info', packager=user) }}">
                  {{ user }}
                </a>
              </span>
              <span class="branches">({{ admins[user] | sort_branches | join(', ') }})</span>
            </li>
            {% endfor %}
        </ul>
        {% if pending_admins %}
        <div class="small_h_line"></div>
        <p>Users whose admin rights are awaiting review.</p>
        <ul>
          {% for user in pending_admins %}
          <li>
            {{ user | avatar(32) | safe }}
            <span class="username">
              <a class="pending" title="Admin rights awaiting review"
                 href="{{ url_for('.packager_info', packager=user) }}">
                {{ user }}
              </a>
            </span>
            <span class="branches">({{ pending_admins[user] | sort_branches | join(', ') }})</span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

          <ul class="nobullet">
          {% if g.fas_user and (g.fas_user.username in admins
               or g.fas_user.username in pending_admins) %}
            <li class="inline">
              <form action="{{ url_for('.giveup_acl',
                package=package.name, acl='approveacls') }}" method="POST">
                <button class="bold pkg_button_grey inline" type="submit"
                  onclick="return confirm('Are you sure to drop your `approveacl` ACL on all branches?');"
                  title="Drop your approveacl ACL on all branches">
                  - Give Up Admin Access
                </button>
                {{ form.csrf_token }}
              </form>
            </li>
          {% elif g.fas_user and g.fas_user.username not in admins
               and g.fas_user.username not in pending_admins %}
            <li>
              <form action="{{ url_for('.request_acl_all_branch',package=package.name,
                              acl='approveacls') }}" method="POST">
                <button class="bold pkg_button_blue inline" type="submit"
                  onclick="return confirm('Are you sure to request the `approveacl` ACL on all branches?');"
                  title="Request approveacls on all branches">
                  + Request Admin Access
                </button>
                {{ form.csrf_token }}
              </form>
            </li>
          {% endif %}
          {% if g.fas_user.username in admins or is_admin %}
            <li>
              <a href="{{ url_for('.update_acl',package=package.name,
                       update_acl='approveacls') }}"
                title="Manage commit ACLs">
                <button class="bold pkg_button_blue inline wheel">
                  Manage the admins
                </button>
              </a>
            </li>
          {% endif %}
          </ul>
      </div>
    </div>
  </section>

  <div class="h_line"></div>

  <section id="pkg_committers">
    <div>
      <h3 class="inline" title="`commit` ACL">Committer(s)</h3>
      <ul class="nobullet">
        {% if g.fas_user and g.fas_user.username in committers %}
          <li>
            <form action="{{ url_for('.dropcommit_package',package=package.name) }}"
              method="POST">
              <button class="bold pkg_button_grey inline" type="submit"
                onclick="return confirm('Are you sure to drop your `commit` ACL on all branches?');"
                title="Drop your commit ACL on all branches">
                - Give Up Commit Access
              </button>
              {{ form.csrf_token }}
            </form>
          </li>
        {% elif g.fas_user %}
          <li>
            <form action="{{ url_for('.comaintain_package',package=package.name) }}"
             method="POST">
              <button class="bold pkg_button_blue inline" type="submit"
                onclick="return confirm('Are you sure to request the `commit` ACL on all branches?');"
                title="Request commit ACL on all branches">
                + Request Commit Access
              </button>
             {{ form.csrf_token }}
            </form>
          </li>
        {% endif %}
        {% if g.fas_user %}
          <li>
            <a href="{{ url_for('.update_acl',package=package.name,
                                  update_acl='commit') }}"
              title="Manage commit ACLs">
              <button class="bold pkg_button_blue inline wheel">
                {% if g.fas_user.username in admins or is_admin%}
                Manage the committers
                {% elif g.fas_user.username in committers %}
                Manage Your Commit ACLs
                {% else %}
                Request Commit ACLs
                {% endif %}
              </button>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <table id="committers">
    <thead>
      <tr>
        <th></th>
        {% for branch in branches | sort_branches %}
        <th>{{ branch }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user in commit_acls | sort %}
        {% if loop.last %}
          <tr class="lastrow">
        {% else %}
          <tr>
        {% endif %}
          <td class="users">
            {{ user | avatar(32) | safe }}
            <a href="{{ url_for('.packager_info', packager=user) }}" class="username">
              {{ user }}
            </a>
          </td>
          {% for branch in branches | sort_branches %}
            {% if not loop.last %}
              <td class="dashed">
            {% else %}
              <td class="dashed lastcel">
            {% endif %}
              {% if 'commit' in commit_acls[user][branch]
                  and commit_acls[user][branch]['commit'] %}
                <img src="{{ url_for('static',
                    filename='%s.png' % commit_acls[user][branch]['commit']) }}"
                  title="ACL {{ commit_acls[user][branch]['commit'] }}"
                  alt="{{ commit_acls[user][branch]['commit'] }}"/ >
                {{ commit_acls[user][branch]['commit'] }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </section>

  <div class="h_line"></div>

  <section id="pkg_watchers">
    <div>
      <h3 class="inline" title="`watch*` ACL">Watcher(s)</h3>
      {% if g.fas_user and g.fas_user.username in watch_acls %}
        <form action="{{ url_for('.unwatch_package',package=package.name) }}"
            method="POST">
          <button class="bold pkg_button_grey inline" type="submit"
            onclick="return confirm('Are you sure to drop your `watch*` ACLs on all branches?');"
            title="Drop your watch* ACL on all branches">
            - Unwatch this package
          </button>
          {{ form.csrf_token }}
        </form>
      {% elif g.fas_user %}
        <form action="{{ url_for('.watch_package',package=package.name) }}"
            method="POST">
          <button class="bold pkg_button_blue inline" type="submit"
            onclick="return confirm('Are you sure to request the `watch*` ACLs on all branches?');"
            title="Request watch* ACL on all branches">
            + Watch this package
          </button>
          {{ form.csrf_token }}
        </form>
      {% endif %}
    </div>

    <table >
      <tr>
        <th></th>
        {% for branch in branches | sort_branches %}
        <th colspan="2">{{ branch }}</th>
        {% endfor %}
      </tr>
      <tr>
        <th></th>
        {% for branch in branches  %}
          {% for acl in ['Bugs', 'Commits'] %}
            <th class="headings">{{ acl }}</th>
          {% endfor %}
        {% endfor %}
      </tr>
      {% for user in watch_acls | sort %}
        {% if loop.last %}
          <tr class="lastrow {{ loop.cycle('row_odd', 'row_even') }}">
        {% else %}
          <tr class="{{ loop.cycle('row_odd', 'row_even') }}">
        {% endif %}
          <td>
            {{ user | avatar(32) | safe }}
            <a href="{{ url_for('.packager_info', packager=user) }}"
              class="username">
              {{ user }}
            </a>
          </td>
          {% for branch in branches | sort_branches %}
            {% set coltype = loop.cycle('col_odd', 'col_even') %}
            {% if loop.last %}
              {% set last = True %}
            {% else %}
              {% set last = False %}
            {% endif %}
            {% for acl in ['watchbugzilla', 'watchcommits'] %}
              {% if loop.first %}
                <td class="{{ coltype }}">
              {% elif last %}
                <td class="dashed lastcel {{ coltype }}">
              {% else %}
                <td class="dashed {{ coltype }}">
              {% endif %}
                {% if acl in watch_acls[user][branch]
                    and watch_acls[user][branch][acl] == 'Approved' %}
                  <img src="{{ url_for('static', filename='watch_20.png') }}"
                    alt="Approved" title="Approve"/>
                {% endif %}
              </td>
            {% endfor %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% if g.fas_user %}
    <p id="manage_watch">
      <a href="{{ url_for('.update_acl',package=package.name,
               update_acl='watchcommits') }}"
        title="Manage watchcommits ACLs">
        <button class="bold pkg_button_blue inline wheel">
          Manage watchcommits
        </button>
      </a>
      <a href="{{ url_for('.update_acl',package=package.name,
               update_acl='watchbugzilla') }}"
        title="Manage watchbugzilla ACLs">
        <button class="bold pkg_button_blue inline wheel">
          Manage watchbugzilla
        </button>
      </a>
    </p>
    {% endif %}
  </section>

</section>
{% endblock %}


{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery.tablesorter.min.js') }}">
</script>

<script type="text/javascript">
    function toggle_monitor(status){
        var _url = "{{ url_for('api_ns.monitor_package', package=package.name, status='') }}";
        $.ajax({
            url: _url + status,
            type: 'POST',
            dataType: 'json',
            success: function(res) {
                $('#flashes').empty();
                $('#flashes').append(
                    '<li class="info">' + res.messages + '</li>'
                );
            },
        });

        return false;
    }

    $(function(){
        $("#committers").tablesorter();

        $('#monitoroff').change(function(){
            toggle_monitor(0);
        });

        $('#monitoron').change(function(){
            toggle_monitor(1);
        });

        $('#givebutton').click(function(){
            var _url = "{{ url_for('.package_give', package=package.name, full=0) }}";
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $(res);
                    _elt.dialog({
                        width: '50%',
                        modal: true
                    });
                },
            });

            return false;
        });
        $('#orphanbutton').click(function(){
            var _url = "{{ url_for('.package_orphan', package=package.name, full=0) }}";
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $(res);
                    var _height = $(window).height() * 0.8;
                    _elt.dialog({
                        width: '50%',
                        modal: true
                    });
                },
            });

            return false;
        });
        $('#takebutton').click(function(){
            var _url = "{{ url_for('.package_take', package=package.name, full=0) }}";
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $(res);
                    _elt.dialog({
                        width: '50%',
                        modal: true
                    });
                },
            });

            return false;
        });
        $('#retirebutton').click(function(){
            var _url = "{{ url_for('.package_retire', package=package.name, full=0) }}";
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $(res);
                    var _height = $(window).height() * 0.8;
                    _elt.dialog({
                        width: '50%',
                        modal: true
                    });
                },
            });

            return false;
        });
    });
</script>
{% endblock %}
