{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}packagers{% endblock %}

{% block content %}

<span class="inline">
<h1>
  {{ packager | avatar | safe }}
  {{ packager }}</h1> (<a class="fas" target="_blank"
    {% if packager.startswith('group::') %}
        href="https://admin.fedoraproject.org/accounts/group/view/{{ packager.replace('group::', '') }}"
    {% else %}
        href="https://admin.fedoraproject.org/accounts/user/view/{{ packager }}"
    {% endif %}
    >fas</a> -
    <a href="{{ url_for('.packager_requests', packager=packager) }}">
        requests
    </a>)
</span>

<table>
    <tr>
        <th>Point of contact:</th>
        <td>{{ packages | length }}</td>
    </tr>
    <tr>
        <th>Co-maintainer:</th>
        <td>{{ packages_co | length}}</td>
    </tr>
    <tr>
        <th>Watched:</th>
        <td>{{ packages_watch | length}}</td>
    </tr>
</table>

{% if packages %}
<h3>Point of contact: </h3>
<ul>
{% for info in packages %}
    <li>
        <a href="{{url_for('.package_info', package=info[0].name)}}">
            {{ info[0].name }}</a>
        -- {{ info[0].summary }}
        (
        {% for clt in info[1] | sort(attribute='branchname', reverse=True) %}
            {{ clt.branchname }}
        {% endfor %}
        )
    </li>
{% endfor %}
</ul>
{% endif %}

{% if packages_co %}
<h3>Co-maintainer: </h3>
<ul>
{% for info in packages_co %}
    <li>
        <a href="{{url_for('.package_info', package=info[0].name)}}">
            {{ info[0].name }}</a>
        -- {{ info[0].summary }}
        (
        {% for clt in info[1] | sort(attribute='branchname', reverse=True) %}
            {{ clt.branchname }}
        {% endfor %}
        )
    </li>
{% endfor %}
</ul>
{% endif %}

{% if packages_watch %}
<h3>Package{% if packages_watch | length > 1 %}s{%endif%} watched: </h3>
<ul>
{% for info in packages_watch %}
    <li>
        <a href="{{url_for('.package_info', package=info[0].name)}}">
            {{ info[0].name }}</a>
        -- {{ info[0].summary }}
        (
        {% for clt in info[1] | sort(attribute='branchname', reverse=True) %}
            {{ clt.branchname }}
        {% endfor %}
        )
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
