{% if full %}
  {% extends "master.html" %}
  {% block title %} Anitya integration | PkgDB {% endblock %}
  {%block tag %}packages{% endblock %}
{% endif %}

{% from "_formhelpers.html" import render_field_in_row %}


{% block content %}
{% if not full %}
<div title="Anitya integration">
{% endif %}


<h3>Anitya integration for package: {{ package }}</h3>


{% if data['output'] == 'notok' %}
<p>
  This package could not be found in <a href="{{ config['PKGDB2_ANITYA_URL'] }}">
anitya</a>.
</p>
<p>
  <a href="{{ config['PKGDB2_ANITYA_URL'] }}/project/new?name={{ package }}&amp;homepage={{ pkg.upstream_url }}&amp;distro=Fedora&amp;package_name={{ package }}" target="_blank">
    Add it yourself!
  </a>
</p>
{% else %}
<table>
  <tr>
    <th>Project</th>
    <td><a href="{{ config['PKGDB2_ANITYA_URL'] }}/project/{{ data['id'] }}">
{{ config['PKGDB2_ANITYA_URL'] }}/project/{{ data['id'] }}</a>
    </td>
  </tr>
  <tr>
    <th>Homepage</th>
    <td><a href="{{ data['homepage'] }}">{{ data['homepage'] }}</a></td>
  </tr>
  <tr>
    <th>Backend</th>
    <td>{{ data['backend'] }}</td>
  </tr>
  <tr>
    <th>Latest versions</th>
    <td>{{ data['version'] }}</td>
  </tr>
  <tr>
    <th>All versions found</th>
    <td>{{ data['versions'] | join(', ') }}</td>
  </tr>
</table>
{% endif %}

{% if not full %}
</div>
{% endif %}
{% endblock %}
