{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %} Give package | PkgDB {% endblock %}

{%block tag %}packages{% endblock %}

{% block content %}

<h1>Give Point of Contact of package: {{packagename}}</h1>


<form action="{{ url_for('.package_give', package=packagename) }}" method="post">
  <table>
    {{ render_field_in_row(form.pkg_branch) }}
    {{ render_field_in_row(form.pkg_poc) }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Give">
    <input type="button" value="Cancel" class="button" onclick="history.back();">
    {{ form.csrf_token }}
  </p>
    <p class="small">Use your mouse or the control key to select multiple ACLs at once</p>
</form>
{% endblock %}
