{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row, render_field_in_cell %}

{% block title %} Request package | PkgDB {% endblock %}

{%block tag %}packages{% endblock %}

{% block content %}

<h1>Request a new package</h1>


<form action="{{ url_for('.package_request_new') }}" method="post" id="new_pkg">
  <table>
    <tr>
      {{ render_field_in_cell(form.review_url,
         title="Ticket number of the package review", placeholder="1234") }}
    <td>
      <button type="button" id="try_populate">Sync</button>
    </td>
    </tr>
    {{ render_field_in_row(form.pkgname) }}
    {{ render_field_in_row(form.summary) }}
    {{ render_field_in_row(form.branches) }}
    {{ render_field_in_row(form.description, rows=5) }}
    {{ render_field_in_row(form.upstream_url, title="URL of the upstream project (if any)") }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Create">
    <input type="button" value="Cancel" class="button" onclick="history.back();">
    {{ form.csrf_token }}
  </p>

</form>
{% endblock %}

{% block jscripts %}
{{ super() }}

<script type="text/javascript">
    $(function(){
        $('#try_populate').click(function(){
            document.body.style.cursor = 'wait';
            $('#pkgname').val('');
            $('#summary').val('');
            $('#pkgname').prop('disabled', true);
            $('#summary').prop('disabled', true);
            $('#review_url').prop('disabled', true);
            var _bzurl = $('#review_url').val();
            var _bzid = null;
            if ($.isNumeric(_bzurl)) {
                _bzid = _bzurl;
            } else {
                if (_bzurl.indexOf("?id=") > -1) {
                    _bzid = _bzurl.split("?id=")[1];
                } else {
                    _bzid = _bzurl.split("/").reverse()[0];
                }
            }
            var _url = "{{url_for('api_ns.api_pkgrequest', bzid='') }}";
            _url += _bzid;
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'json',
                success: function(res) {
                    document.body.style.cursor = 'auto';
                    $('#review_url').prop('disabled', false);
                    $('#pkgname').val(res.name);
                    $('#summary').val(res.summary);
                    $('#review_url').val(res.review_url);
                },
                error: function(res) {
                    document.body.style.cursor = 'auto';
                    $('#review_url').prop('disabled', false);
                    $('#pkgname').prop('disabled', false);
                    $('#summary').prop('disabled', false);
                    if (res.responseJSON.error) {
                      $('#flashes').append(
                        '<li class="error">' + res.responseJSON.error + '</li>'
                      );
                    }
                },

            });

            return false;
        });
    });
</script>
{% endblock %}
