{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}stats{% endblock %}

{% block content %}

<h1>Fedora Package Database</h1>

<p>
    PkgDB stores currently information about {{ collections | length }}
    active Fedora releases.
</p>


<table>
    <tr>
        <th>Fedora branch / release</th>
        <th>Number of packages</th>
    </tr>
    {% for collec in collections | sort %}
    <tr>
        <td>{{ collec[0] }}</td>
        <td>{{ collec[1] }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Evolution in Fedora</h2>

<div class="demo-container">
    <div id="placeholder" class="demo-placeholder"></div>
</div>

<h2>Top maintainers</h2>

<table>
    {% for row in top_maintainers %}
    <tr>
        <td>
            #{{ loop.index }}
        </td>
        <td>
            <a href="{{url_for('.packager_info', packager=row[0])}}">
            {{ row[0] }}
            </a>
        </td>
        <td>
            {{ row[1] }}
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Top point of contact</h2>

<table>
    {% for row in top_poc %}
    <tr>
        <td>
            #{{ loop.index }}
        </td>
        <td>
            <a href="{{url_for('.packager_info', packager=row[0])}}">
            {{ row[0] }}
            </a>
        </td>
        <td>
            {{ row[1] }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block jscripts %}
{{ super() }}

<script language="javascript" type="text/javascript"
        src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
<script language="javascript" type="text/javascript"
    src="{{ url_for('static', filename='jquery.flot.categories.js') }}"></script>


<script type="text/javascript">

    {% autoescape false %}
    var data = [{'color': '#1F77B4',
                'data': {{ collections_fedora_data }},
                'bars': {'order': 1, 'barWidth': 0.8, 'show': 1},
                'label': 'Number of packages',
                'ticks': {{ collections_fedora_lbl }},
                }];
    {% endautoescape %}

    $(function() {
        var plot = $.plot("#placeholder", data, {
            series: {
                clickable: true,
                hoverable: true
            },
            grid: { hoverable: true, clickable: true },
            xaxis: {
                mode: "categories",
                points: { show: true },
                lines: { show: true },
                tickLength: 0,
                //show: false
            }
        });

        // show the tooltip
        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        $("#placeholder").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x);
            $("#y").text(pos.y);

            if (item) {
                $("#tooltip").remove();
                var x = item.datapoint[0],
                    y = item.datapoint[1];

                if (item.series.label == 'Number of packages') {
                    showTooltip(item.pageX, item.pageY,
                            y + " packages in Fedora "
                            + data[0].ticks[item.dataIndex][0]);
                }
            } else {
                document.body.style.cursor = 'default';
                $("#tooltip").remove();
            }
        });
    });
</script>

{% endblock %}
